.wrapper-home{
    display: block;
    width: 100%;
    position: relative;
    h1{
        font-size: 30px;
        color: red;
        display: inline-block;
    }
    p{
        font-size: 30px;
        color: blue;
        display: inline-block;
    }
}